@charset "UTF-8";

body {
    background-image: url(imagens/wallpaper002.jpg);
}

div.quadrado {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
}

div#q1 {
    background-color: greenyellow;
}

div#q2 {
    background-image: linear-gradient(to bottom, purple, cyan);
}

div#q3 {
    background-image: url(imagens/pattern002.png);
}